script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js')
script.
  window.jQuery || document.write('<script src="../assets/js/vendors/jquery-2.2.3.min.js"><\/script>')
script(src='../assets/js/vendors/bootstrap.min.js')
script(src='../assets/js/site.js')
