[v-cloak] > * {
    display: none !important;
}

[v-cloak]::before {
    content: "loading...";
}

/*
#imagemanager-modal .image-list {
    min-height: 300px;
    max-height: 500px;
    overflow-y: auto;
} */
